<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.0.0-rc1" targetFramework="net45" userInstalled="true" />
  <package id="NEST" version="5.0.0-rc1" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net45" userInstalled="true" />
</packages>